@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    display: grid;
    place-items: center;
    background: #b2cbe3;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.img-container{
    width: 300px;
    height: 300px;
    border: 3px solid #e0e2ef;
    border-radius: 10px;
    background: url(img1.jpg);
    background-position: center;
    background-size: cover;
}

.articles{
    width: 330px;
    overflow: hidden;
    position: relative;
}

.article{
    background: white;
    height: 250px;
    width: 330px;
    padding: 5px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: fixed;
}

::-webkit-scrollbar{
    display:none;
}

.article > .date{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.buttons{
    display: flex;
    list-style: none;
    width: 330px;
    height: 50px;
    align-items: center;
    justify-content: center;
    background: #7bb6d3;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow: hidden;
}

.buttons > .btn{
    width: 110px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.active{
    background: #000;
}
